body {
    background-color: rgba(224, 128, 2, 0.856);
}

hr {
    border: 2px solid rgb(18, 161, 149);
}

img {
    width: 40%;
    /*largura*/
    height: auto;
    /*altura*/
    border-radius: 5px;
    /*arredondar bordas*/
    box-shadow: 3px 3px 5px #292929;
    /*valor1 e valor2 são projeções da sombra, valor3 é espalhamento da sombra, cor da sombra*/
}